.navigation{
    height: 50px;
}

.nav-item-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    color:#D72638;
    text-decoration: none;
}

.nav-item:nth-child(1){
    padding-left: 20px;
}

.nav-item:nth-child(2){
    padding-right: 20px;
}

.logo{
    font-family: 'Monoton', cursive;
    font-size: 2rem;
    cursor: pointer;
}