.nav-item-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-item{
    color:#D72638;
    text-decoration: none;
}

.nav-item{
    padding-left: 20px;
}

.nav-item:nth-child(2){
    padding-right: 20px;
}

.logo{
    font-family: 'Monoton', cursive;
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    .nav-item-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}